.shop {
    padding: 0 50px;
}
.items {
    margin-top: 20px;
    display: flex;
}

.item {
    min-width: 150px;
    height: 50px;
    background-color: #cef2ff;
    padding: 25px;
    border-radius: 12px;
}

.item + .item {
    margin-left: 24px;
}

.item-first {
    display: flex;
    margin-bottom: 10px;
}

.item-first span + span {
    margin-left: 30px;
}